{% load static %}
{% load to_json %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../../core/_seo.html' %}

    <!-- Plugins CSS File -->
    <link rel="stylesheet" type="text/css" href="static/assets/fashiontemp/css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet" />
    <!-- Custom styles for this template -->
   
    <!-- responsive style -->
    <link href="static/assets/fashiontemp/css/responsive.css" rel="stylesheet" />
   
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/amani/css/style.css' %}?v=1.2.12"> 
   
 
  </head>
</head>


