{% load static %}
{% load to_json %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include '../../core/_seo.html' %}

    <!-- Plugins CSS File -->
   
    <link rel="stylesheet" href="{% static 'assets/amani/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/molla-1/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/molla-1/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/molla-1/css/plugins/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'assets/molla-1/css/plugins/nouislider/nouislider.css' %}">

    <!-- fonts style -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Dosis:400,500|Poppins:400,700&display=swap" rel="stylesheet" /> -->
     <link rel="stylesheet" href="static/assets/amani/fonts/font-awesome.css">
     <!-- Fontawesome Star -->
     <link rel="stylesheet" href="static/assets/amani/fonts/fontawesome-stars.css">
     <!-- Ion Icon -->
     <link rel="stylesheet" href="static/assets/amani/fonts/ion-fonts.css">
    <!-- Custom styles for this template -->
   
    <!-- responsive style -->
    <!--<link href="static/assets/fashiontemp/css/responsive.css" rel="stylesheet" />-->
    <!--<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.webp">-->

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->

    <!-- Font CSS -->
    <!--<link rel="preconnect" href="https://fonts.googleapis.com/"> -->
    <!--<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap" rel="stylesheet"> -->

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
    <!--<link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">-->

    <!-- Plugins CSS (All Plugins Files) -->
    <!-- <link rel="stylesheet" href="assets/css/plugins/swiper-bundle.min.css">
    <link rel="stylesheet" href="assets/css/plugins/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/fancybox.min.css">
    <link rel="stylesheet" href="assets/css/plugins/range-slider.css">
    <link rel="stylesheet" href="assets/css/plugins/nice-select.css"> -->
   
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/amani/css/style.css' %}?v=1.2.12"> 
    
   
 
  </head>

<body>
  {% include '../../core/_seo_body.html' %}

  <div class="page-wrapper" id="tiktak-store-app">

