{% extends "../newIndex.html" %}

{% block body %}
<main class="main">
    <br><br><br><br><br>
   
    <nav aria-label="breadcrumb" class="breadcrumb-style1">

    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <h2>Welcome to your payment result</h2>
                <ul>
                    <li><a href="newIndex">Home</a></li>
                    <li ><a href="amanicart">cart</a></li>
                    <li ><a href="amanicheckout">checkout</a></li>

                <li class="active">payment result </li>
                   
                </ul>
            </div>
        </div>
    </div>
    </nav>


    <main class="main-content">
        <br><br>
        <!--== Start Page Header Area Wrapper ==-->
        <section class="page-header-area">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-7 col-lg-7 col-xl-5">
                        <div class="page-header-content">
                          <!-- <div class="title-img"><img src="static/assets/amani/images/error.png" alt="Image" width="30" height="30"></div>--> 
                            <h2 class="page-header-title">Oops !</h2>
                            <p  style="color:rgb(191, 30, 2);" class="page-header-desc">your payment has failed please checkout your creditcard and try again</p>
                            <a href="newIndex" >
                                <span>Revenir à la page d'accueil</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-5 col-xl-7">
                        <div class="page-header-thumb">
                            <img src="static/assets/amani/images/faill.webp" width="570" height="669" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br><br>

</main> 
    {% endblock %}
