<div class="product-action-modal modal fade" id="add-to-cart-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">[[ productInfo.title ]]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa icon-close"></i></span>
                </button>
            </div>
        
            <div class="modal-body">
                <br>
                <p class="ml-4">[[ productInfo.message ]]</p>
                <br>
            </div><!-- End .modal-body -->

            <div class="modal-footer">
                <a href="/cart" class="cart-btn" >
                    <span>Voir Panier</span>
                    <i class="fas fa-shopping-cart"></i>
                                                </a>
               
                <button type="button" class="cart-btn"  data-dismiss="modal">
                    <span>Continuer mes achats</span>
                    <i class="fa fa-solid fa-arrow-right"></i>
                                </button>
            </div>
        
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->
<!--

<aside class="product-action-modal modal fade" id="add-to-cart-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="product-action-view-content">
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                        <i class="fa fa-times"></i>
                    </button>
                    <div class="modal-action-messages">
                        <i class="fa fa-check-square-o"></i> Added to cart successfully!
                    </div>
                    <p class="ml-4">[[ productInfo.message ]]</p>

                    <div class="modal-action-product">
                        <div class="thumb">
                            <img v-bind:src="[[ product.photo ]]" alt="[[ product.name ]]"
                            class="product-image">
                                                </div>
                        <h4 class="product-name"><a href="product-details.html">[[ productInfo.title ]]</a></h4>
                        <button type="button" id="btncart" data-dismiss="modal">
                            <span>Continuer mes achats</span>
                            <i class="fa fa-solid fa-arrow-right"></i>
                                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
-->