<!-- header -->
{% include 'amani/components/_header.html' %}


<!-- topbar -->
{% include 'amani/components/_topbar2.html' %}

<!-- body -->
{% block body %}
<!-- slider section -->
<div class="hero_area">
<section class=" slider_section position-relative" >
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="slider_item-box">
            <div class="slider_item-container">
              <div class="container-fluid">
                <div class="row">
                  <div class="offset-md-2 col-md-4">
                    <div class="slider_item-detail">
                      <div>
                        <h2 class="slider_heading">
                            Our Closet
                            <br />
                            is made for you
                            </h2>
                        <p>
                            Amani Closet is your number one destination to your every day fashion needs, come shop now and be the gorgeous girl you are meant to be

                        </p>
                        <div class="d-flex">
                          <a href="" class="btn btn-outline-primary-2 btn-order btn-block">
                            Order Now
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="hero_img-box">
                      <img src="static/assets/amani/images/m211.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider_item-box">
            <div class="slider_item-container">
              <div class="container-fluid">
                <div class="row">
                  <div class="offset-md-2 col-md-4">
                    <div class="slider_item-detail">
                      <div>
                        <h2 class="slider_heading">
                            Our Closet
                            <br />
                            is made for you
                        </h2>
                        <p>
                          come shop now and get your discount, buy 4 and get the 5th for free 
                        </p>
                        <div class="d-flex">
                          <a href="" class="btn btn-outline-primary-2 btn-order btn-block">
                            Order Now
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="hero_img-box">
                      <img src="static/assets/amani/images/m3.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="slider_item-box">
            <div class="slider_item-container">
              <div class="container-fluid">
                <div class="row">
                  <div class="offset-md-2 col-md-4">
                    <div class="slider_item-detail">
                      <div>
                        <h2 class="slider_heading">
                          Our Closet
                          <br />
                          is made for you
                        </h2>
                        <p>
because we care about your style                        </p>
                        <div class="d-flex">
                          <a href="" class="btn btn-outline-primary-2 btn-order btn-block">
                            Order Now
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="hero_img-box">
                      <img src="static/assets/amani/images/m211.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="sr-only">Next</span>
      </a> 
    </div>
  </section>

</div>
<br>
<br>
<br>
  <!--== Start Product Category Area Wrapper ==-->
 
 <section class="section-space pb-0">
    {# <h2 class="fs-lg-56 fs-40 font-weight-normal text-center text-primary custom-font" data-animate="fadeInUp">Our Categories</h2> #}
    <div class="container">
        <div class="row g-3 g-sm-6">
            <div class="col-6 col-lg-4 col-lg-2 col-xl-2">
                <!--== Start Product Category Item ==-->
                <a href="/productList" class="product-category-item" data-bg-color="#dcffd2">
                    <img class="icon" src="static/assets/amani/images/dress.png" width="70" height="80" alt="Image-HasTech">
                    <h3 class="title">dresses</h3>
                    
                </a>
                <!--== End Product Category Item ==-->
            </div>
            <div class="col-6 col-lg-4 col-lg-2 col-xl-2">
                <!--== Start Product Category Item ==-->
                <a href="/productList" class="product-category-item" data-bg-color="#6495ED">
                    <img class="icon" src="static/assets/amani/images/tops.png" width="80" height="80" alt="Image-HasTech">
                    <h3 class="title">tops</h3>
                </a>
                <!--== End Product Category Item ==-->
            </div>
            <div class="col-6 col-lg-4 col-lg-2 col-xl-2 mt-lg-0 mt-sm-6 mt-4">
                <!--== Start Product Category Item ==-->
                <a href="/productList" class="product-category-item" data-bg-color="#DFE4FF">
                    <img class="icon" src="static/assets/amani/images/pants.png" width="80" height="80" alt="Image-HasTech">
                    <h3 class="title">pants</h3>
                </a>
                <!--== End Product Category Item ==-->
            </div>
            <div class="col-6 col-lg-4 col-lg-2 col-xl-2 mt-xl-0 mt-sm-6 mt-4">
                <!--== Start Product Category Item ==-->
                <a href="/productList" class="product-category-item" data-bg-color="#FFEACC">
                    <img class="icon" src="static/assets/amani/images/skirt.png" width="80" height="80" alt="Image-HasTech">
                    <h3 class="title">skirts</h3>
                  
                </a>
                <!--== End Product Category Item ==-->
            </div>
            <div class="col-6 col-lg-4 col-lg-2 col-xl-2 mt-xl-0 mt-sm-6 mt-4">
                <!--== Start Product Category Item ==-->
                <a href="/productList" class="product-category-item" data-bg-color="#FFDAE0">
                    <img class="icon" src="static/assets/amani/images/shoess.png" width="80" height="80" alt="Image-HasTech" >
                    <h3 class="title">shoes</h3>
                </a>
                <!--== End Product Category Item ==-->
            </div>
            <div class="col-6 col-lg-4 col-lg-2 col-xl-2 mt-xl-0 mt-sm-6 mt-4">
                <!--== Start Product Category Item ==-->
                <a href="/productList" class="product-category-item" data-bg-color="#FFF3DA">
                    <img class="icon" src="static/assets/amani/images/sunglasses.png" width="80" height="80" alt="Image-HasTech">
                    <h3 class="title">accessories</h3>
                </a>
                <!--== End Product Category Item ==-->
            </div>
        </div>
    </div>
</section>
<hr>
<br>

<!--== Start Product Area Wrapper ==-->
<section class="section-space">
    <h2 class="fs-lg-56 fs-40 font-weight-normal text-center text-primary custom-font" data-animate="fadeInUp">Top Sales</h2>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    {# <h2 class="title">Top sale</h2> #}
                    <p>here you will find our top sales and the ones that have been likes the most by our customers </p>
                </div>
            </div>
        </div>
        
       
      
        <div class="row mb-n4 mb-sm-n10 g-3 g-sm-6">
            <div class="col-6 col-lg-4 mb-4 mb-sm-9">
                <!--== Start Product Item ==-->
                <div class="product-item">
                    <div class="product-thumb">
                        <a class="d-block" href="product-details.html">
                            <img src="static/assets/amani/images/sac.png" width="370" height="450" alt="Image-HasTech">
                        </a>
                        <span class="flag-new">new</span>
                        <div class="product-action">
                            <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                <i class="fa fa-expand"> </i>
                            </button>
                            <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                <span>Add to cart</span>
                            </button>
                            
                            <button type="button" class="product-action-btn action-btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-rating">
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <div class="reviews">150 reviews</div>
                        </div>
                        <h4 class="title"><a href="product-details.html">pink perse</a></h4>
                        <div class="prices">
                            <span class="price">80.00DT</span>
                            <span class="price-old">300.00</span>
                        </div>
                    </div>
                    <div class="product-action-bottom">
                        <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                            <i class="fa fa-expand"></i>
                        </button>
                        <button type="button" class="product-action-btn action-btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                            <i class="fa fa-heart-o"></i>
                        </button>
                        <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                            <span>Add to cart</span>
                        </button>
                    </div>
                </div>
                <!--== End prPduct Item ==-->
            </div>
            <div class="col-6 col-lg-4 mb-4 mb-sm-9">
                <!--== Start Product Item ==-->
                <div class="product-item">
                    <div class="product-thumb">
                        <a class="d-block" href="product-details.html">
                            <img src="static/assets/amani/images/robe.png" width="370" height="450" alt="Image-HasTech">
                        </a>
                        <span class="flag-new">new</span>
                        <div class="product-action">
                            <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                <i class="fa fa-expand"></i>
                            </button>
                            <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                <span>Add to cart</span>
                            </button>
                            <button type="button" class="product-action-btn action-btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                <i class="fa fa-heart-o"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-rating">
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <div class="reviews">150 reviews</div>
                        </div>
                        <h4 class="title"><a href="product-details.html">Strawberry Dress</a></h4>
                        <div class="prices">
                            <span class="price">210.00DT</span>
                            <span class="price-old">300.00</span>
                        </div>
                    </div>
                    <div class="product-action-bottom">
                        <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                            <i class="fa fa-expand"></i>
                        </button>
                        <button type="button" class="product-action-btn action-btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                            <i class="fa fa-heart-o"></i>
                        </button>
                        <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                            <span>Add to cart</span>
                        </button>
                    </div>
                </div>
                <!--== End prPduct Item ==-->
            </div>
            <div class="col-6 col-lg-4 mb-4 mb-sm-9">
                <!--== Start Product Item ==-->
                <div class="product-item">
                    <div class="product-thumb">
                        <a class="d-block" href="product-details.html">
                            <img src="static/assets/amani/images/jupe.png" width="370" height="450" alt="Image-HasTech">
                        </a>
                        <span class="flag-new">new</span>
                        <div class="product-action">
                            <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                                <i class="fa fa-expand"></i>
                            </button>
                            <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                                <span>Add to cart</span>
                            </button>
                            <button type="button" class="product-action-btn action-btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                                <i class="fa fa-heart-o"></i>
                            </button>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-rating">
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-half-o"></i>
                            </div>
                            <div class="reviews">60 reviews</div>
                        </div>
                        <h4 class="title"><a href="product-details.html">Red skirt</a></h4>
                        <div class="prices">
                            <span class="price">210.00DT</span>
                            <span class="price-old">300.00</span>
                        </div>
                    </div>
                    <div class="product-action-bottom">
                        <button type="button" class="product-action-btn action-btn-quick-view" data-bs-toggle="modal" data-bs-target="#action-QuickViewModal">
                            <i class="fa fa-expand"></i>
                        </button>
                        <button type="button" class="product-action-btn action-btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal">
                            <i class="fa fa-heart-o"></i>
                        </button>
                        <button type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                            <span>Add to cart</span>
                        </button>
                    </div>
                </div>
                <!--== End prPduct Item ==-->
            </div>
          
            </div>
        </div>
    </div>
</section>
<hr>
<br>
<!--== End Product Area Wrapper ==-->


  <!-- find section -->
  <section class="find_section layout_padding-bottom">
  
    <h2 class="fs-lg-56 fs-40 font-weight-normal text-center text-primary custom-font" data-animate="fadeInUp">Blog</h2>
    
    <div class="section-title text-center">
       
        <p style="color:rgb(0, 0, 0);">here you will find our clients talking about your favorite items and all fashion tips you need </p>
    </div> 
      <div class="row">
        <div class="col-lg-6 col-md-8 offset-md-2">
      
          <div class="shop_container">
            <div class="row">
              <div class="col-sm-6">
                <p>
                  BLOG
                </p>
                <h3>
                 Join our bloggers and talk fashion
                </h3>
                <div>
                  <a href="">
                    View More
                  </a>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="shoe_img-box">
                  <img src="static/assets/amani/images/talk.png" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="find_img-box">
            <img src="static/assets/amani/images/luxury.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </section>
<br><br>
<br>

  <!-- end find section -->
<!-- sign section -->
<section class="sign_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <h3>
            Sign up for Newsletter
          </h3>
          <p>
            Be the first to know everything new, sign up for newletter now
          </p>
        </div>
        <div class="col-md-7">
          <form action="">
            <input type="email" placeholder="Enter your email" />
            <button>
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- end sign section -->
{% endblock  %}





<!-- footer -->
{% include 'amani/components/_footer.html' %}
<!-- js -->
{% include 'amani/components/_js.html' %}
{% block javascript %}

<script type="text/javascript" src="static/assets/fashiontemp/js/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="static/assets/fashiontemp/js/bootstrap.js"></script>

<script>
  function openNav() {
    document.getElementById("myNav").style.width = "100%";
  }

  function closeNav() {
    document.getElementById("myNav").style.width = "0%";
  }
</script>

{% endblock %}
